table {
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
}

th {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    background-color: gray;
}

td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}
