body{background-color:#FFFFFF; 
}
p{color: #2B2B2B;}
header {
    background-color: blue;}

header{color:#FFFFFF;}
nav{background-color:#FFFFFF;
text-align: center;
padding: 10px; 
}
h2{color: #660000;
text-shadow:1px 1px 1px #747474;}
.academy{color: #043260;}
h1{margin-bottom:0;}
body{background-image:url(../../pages/white-monochrome.jpg);}
#wrapper{width:80%;
min-width:600px ;
max-width:1024px ;
margin:0 auto;
background-color:rgba(0,0,0,0.4) ;
box-shadow: 5px; color: #666666;;
}

.resume changes{
    background-color: aqua;

}